<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Form</title>
    <link rel="stylesheet" th:href="@{/css/web/base.css}">
    <link rel="stylesheet" th:href="@{/css/admin/AddJobForm.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map}">

    <link rel="stylesheet" th:href="@{/css/web/grid.css}">

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-free-6.6.0-web/css/all.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>

<div layout:fragment="content" class="main-content">
    <div class="row">
        <div class="col l-8">
            <div class="main-content-header-with-search">
                <i class="main-content-header-menu-open-icon fa-solid fa-bars"></i>

            </div>
        </div>
        <div class="col l-4">
            <div class="main-content-header-nav">
                <ul class="main-content-header-nav-list">
                    <li class="main-content-header-nav-item active">
                        <i class="main-content-header-nav-icon fa-regular fa-bell "></i>
                    </li>
                    <li class="main-content-header-nav-item">
                        <div class="main-content-header-user-avartar" style="background-image: url(/assets/img/user.jpg);"></div>
                        <i class="main-content-header-nav-icon fa-solid fa-chevron-down"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col l-12">
            <form class="add-job-form" action="/admin/sua-viec-lam" method="post">

                <input type="text" hidden th:value="${job.jobId}" name="jobId">
                <div class="form-group">
                    <label for="job-name">Tên công việc</label>
                    <input type="text" id="job-name" name="jobTitle" th:value="${job.jobTitle}">
                </div>
                <div class="form-group">
                    <label for="company">Địa điểm</label>
                    <label for="search-bar--main-section-location-trigger" class="search-bar--main-section" data-name="location">

                        <input hidden type="checkbox" id="search-bar--main-section-location-trigger" name="search-bar--main-section-location-trigger">

                        <div class="search-bar--main-section-wrapper">
                            <i class="search-bar--main-section-icon fa-solid fa-briefcase"></i>
                            <div class="search-bar--main-section-text">Chọn địa điểm</div>
                        </div>

                        <i class="search-bar--main-section-icon--down fa-solid fa-chevron-down"></i>
                        <i class="search-bar--main-section-icon--up fa-solid fa-chevron-up"></i>

                        <ul class="search-bar--main-section-list scrollable-element">
                            <li class="search-bar--main-section-item">
                                <input type="text" class="search-bar--main-section-item-input">
                            </li>
                            <li th:each="location : ${locations}" class="search-bar--main-section-item">
                                <p th:text="${location.getName()}" class="search-bar--main-section-item-text"></p>
                                <input class="search-bar--main-section-item-key" type="text" hidden th:value="${location.locationId}">
                            </li>
                        </ul>

                    </label>

                    <div id="selected-locations" class="selected-items">
                        <!-- Các location được chọn sẽ hiển thị tại đây -->
                        <div class="selected-item" th:each="location :${job.locations}">
                            <span th:text="${location.getName()}"></span>
                            <span class="remove-item"> ✕</span>
                            <span hidden class="selected-item-id" th:text="${location.getLocationId()}"></span>
                        </div>
                        <ul class="selected-item-id-list" hidden>
                            <li class="selected-item-id-item-key" th:each="location :${job.locations}"hidden>
                                <input type="text" class="selected-item-id-item-key-id" th:value="${location.locationId}" hidden>
                                <input type="text" class="selected-item-id-item-text" th:value="${location.name}" hidden>
                            </li>
                        </ul>

                    </div>
                    <input name="selectedLocationIds" id="selectedLocationIds" type="hidden"
                                 th:value="${selectedLocationIds}"
                                 class="selected-items-id">


                </div>
                <div class="form-group">
                    <label for="company">Ngành nghề</label>
                    <label for="search-bar--main-section-industry-trigger" class="search-bar--main-section" data-name="industry">

                        <input hidden type="checkbox" id="search-bar--main-section-industry-trigger" name="search-bar--main-section-industry-trigger">

                        <div class="search-bar--main-section-wrapper">
                            <i class="search-bar--main-section-icon fa-solid fa-briefcase"></i>
                            <div class="search-bar--main-section-text">Chọn Ngành Nghề</div>
                        </div>

                        <i class="search-bar--main-section-icon--down fa-solid fa-chevron-down"></i>
                        <i class="search-bar--main-section-icon--up fa-solid fa-chevron-up"></i>

                        <ul class="search-bar--main-section-list scrollable-element">
                            <li class="search-bar--main-section-item">
                                <input type="text" class="search-bar--main-section-item-input">
                            </li>
                            <li th:each="industry : ${industries}" class="search-bar--main-section-item">
                                <p th:text="${industry.getIndustryName()}" class="search-bar--main-section-item-text"></p>
                                <input class="search-bar--main-section-item-key" type="text" hidden th:value="${industry.industryId}">
                            </li>
                        </ul>

                    </label>

                    <div id="selected-locations" class="selected-items">
                        <!-- Các location được chọn sẽ hiển thị tại đây -->
                        <div class="selected-item" th:each="industry :${job.industries}">
                            <span th:text="${industry.getIndustryName()}"></span>
                            <span class="remove-item"> ✕</span>
                            <span hidden class="selected-item-id" th:text="${industry.getIndustryId()}"></span>
                        </div>
                        <ul class="selected-item-id-list" hidden>
                            <li class="selected-item-id-item-key" th:each="industry :${job.industries}"hidden>
                                <input type="text" class="selected-item-id-item-key-id" th:value="${industry.industryId}" hidden>
                                <input type="text" class="selected-item-id-item-text" th:value="${industry.industryName}" hidden>
                            </li>
                        </ul>

                    </div>
                    <input name="selectedIndustryIds" id="selectedIndustryIds" type="hidden"
                           th:value="${selectedIndustryIds}"
                           class="selected-items-id">


                </div>
                <div class="form-group">
                    <label for="company">Công ty</label>
                    <label for="search-bar--main-section-company-trigger" class="search-bar--main-section-select">

                        <input hidden type="checkbox" id="search-bar--main-section-company-trigger" name="search-bar--main-section-company-trigger">

                        <div class="search-bar--main-section-wrapper">
                            <i class="search-bar--main-section-icon fa-solid fa-briefcase"></i>
                            <div class="search-bar--main-section-text" th:text="${companies.get(0).getCompanyName()}">
                            </div>
                        </div>

                        <i class="search-bar--main-section-icon--down fa-solid fa-chevron-down"></i>
                        <i class="search-bar--main-section-icon--up fa-solid fa-chevron-up"></i>


                        <ul class="search-bar--main-section-list scrollable-element">
                            <li class="search-bar--main-section-item">
                                <input type="text" class="search-bar--main-section-item-input" >
                            </li>
                            <li class="search-bar--main-section-item active" >
                                <p class="search-bar--main-section-item-text" th:text="${companies.get(0).getCompanyName()}">

                                    <input class="search-bar--main-section-item-key" type="text" hidden th:value="${companies.get(0).getCompanyId()}">
                                </p>
                                <i class="search-bar--main-section-item-check fa-solid fa-check"></i>

                            </li>
                            <li th:each="company : ${companies}" class="search-bar--main-section-item" >
                                <p th:text="${company.getCompanyName()}" class="search-bar--main-section-item-text">

                                </p>
                                <i class="search-bar--main-section-item-check fa-solid fa-check"></i>
                                <input class="search-bar--main-section-item-key" type="text" hidden th:value="${company.companyId}">
                            </li>
                            <input name="companyId" hidden id="search-bar--main-section-item-input-sender--company" th:value="${companies.get(0).getCompanyId()}" type="text" class="search-bar--main-section-item-input-sender">

                        </ul>

                    </label>
                </div>





                <div class="form-group">
                    <label for="job-type">Loại công việc</label>
                    <select id="job-type" name="jobType" th:value="${job.jobType}">
                        <option th:value="|Toàn thời gian|">Toàn thời gian</option>
                        <option th:value="|Bán thời gian|">Bán thời gian</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="experience">Năm kinh nghiệm</label>
                    <input type="number" id="experience" name="experienceLevel" th:value="${job.experienceLevel}">
                </div>

                <div class="form-group">
                    <label for="position">Vị trí công việc</label>
                    <select id="position" name="careerLevel" th:value="${job.careerLevel}">
                        <option th:value="|Nhân viên|">Nhân viên</option>
                        <option th:value="|Trưởng nhóm|">Trưởng nhóm</option>
                        <option th:value="|Trưởng/Phó phòng|">Trưởng/Phó phòng</option>
                        <option th:value="|Quản lý / Giám sát|">Quản lý / Giám sát</option>
                        <option th:value="|Trưởng chi nhánh|">Trưởng chi nhánh</option>
                        <option th:value="|Phó giám đốc|">Phó giám đốc</option>
                        <option th:value="|Giám đốc|">Giám đốc</option>
                        <option th:value="|Thực tập sinh|">Thực tập sinh</option>
                    </select>
                </div>



                <div class="form-group">
                    <label for="expiry-date">Ngày hết hạn</label>
                    <input type="date" id="expiry-date" name="expirationDate" th:value="${job.expirationDate}">
                </div>

                <div class="form-group">
                    <label for="source">Nguồn</label>
                    <input type="text" id="source" name="jobUrl" th:value="${job.jobUrl}">
                </div>

                <div class="form-group">
                    <label for="salary">Mức lương</label>
                    <input type="number" id="salary" name="salary" th:value="${job.salary}">
                </div>

                <div class="form-group">
                    <label for="currency">Đơn vị tiền tệ</label>
                    <input type="text" id="currency" name="salaryCurrency" th:value="${job.salaryCurrency}">
                </div>

                <div id="job-topics">
                    <label class="form-group-label">Mô tả</label>
                    <div class="job-topic"  th:each="topic, iterStat : ${topicNames}">
                        <button type="button"  class="remove-job-topic" onclick="removeJobTopic(this)">Xóa</button>
                        <div class="form-group">
                            <label for="job-topic-name" th:for="'job-topic-name-' + ${iterStat.index}">Tên Chuyên Mục</label>
                            <input type="text" name="job-topic-name[]" th:id="'job-topic-name-' + ${iterStat.index}" th:value="${topic}">
                        </div>
                        <div class="form-group">
                            <label for="job-topic-description" th:for="'job-topic-description-' + ${iterStat.index}">Mô tả Chuyên Mục</label>
                            <textarea name="job-topic-description[]" th:id="'job-topic-description-' + ${iterStat.index}" th:text="${topicDescs[iterStat.index]}" ></textarea>
                        </div>

                    </div>

                </div>
                <button type="button" class="add-job-topic" onclick="addJobTopic()">Thêm Chuyên Mục</button>

                <a th:href="@{viec-lam}" class="back-button" >Về trang công việc</a>
                <button type="submit">Lưu công việc</button>
            </form>


            <script>
                function addJobTopic() {
                    const jobTopicsDiv = document.getElementById('job-topics');
                    const jobTopicDiv = document.createElement('div');
                    jobTopicDiv.classList.add('job-topic');

                    jobTopicDiv.innerHTML = `
                <button type="button" class="remove-job-topic" onclick="removeJobTopic(this)">Xóa</button>
                <div class="form-group">
                    <label for="job-topic-name">Tên Chuyên Mục</label>
                    <input type="text" name="job-topic-name[]">
                </div>
                <div class="form-group">
                    <label for="job-topic-description">Mô tả Chuyên Mục</label>
                    <textarea name="job-topic-description[]"></textarea>
                </div>
            `;

                    jobTopicsDiv.appendChild(jobTopicDiv);
                }

                function removeJobTopic(button) {
                    const jobTopicDiv = button.parentElement;
                    jobTopicDiv.remove();
                }


                document.querySelectorAll('label.search-bar--main-section-select').forEach(section => {

                    var searchBarMainList = section.querySelector('.search-bar--main-section-list');
                    var searchBarMainInput = section.querySelector('.search-bar--main-section-item-input');
                    var searchBarMainItems = section.querySelectorAll('.search-bar--main-section-item');
                    var sectionText = section.querySelector('.search-bar--main-section-text');
                    var inputSender = section.querySelector('.search-bar--main-section-item-input-sender');
                    searchBarMainInput.addEventListener('input', () => {
                        const searchValue = searchBarMainInput.value.toLowerCase();
                        searchBarMainItems.forEach(item => {
                            const text = item.querySelector('.search-bar--main-section-item-text');
                            if (text) {
                                if (text.textContent.toLowerCase().includes(searchValue)) {
                                    item.style.display = '';
                                } else {
                                    item.style.display = 'none';
                                }
                            }
                        });
                    });
                    searchBarMainItems.forEach(item => {
                        item.addEventListener('click', () => {
                            searchBarMainItems.forEach(i => i.classList.remove('active'));

                            item.classList.add('active');

                            const activeText = item.querySelector('.search-bar--main-section-item-text').textContent;
                            sectionText.textContent = activeText;

                            searchBarMainList.classList.remove('active');
                            inputSender.value = item.querySelector('.search-bar--main-section-item-key').value;

                        });
                    });


                })




                document.querySelectorAll('label.search-bar--main-section').forEach(section => {
                    const searchBarMainInput = section.querySelector('.search-bar--main-section-item-input');
                    const searchBarMainItems = section.querySelectorAll('.search-bar--main-section-item:not(:first-child)');
                    const selectedItemsDiv = section.parentElement.querySelector('.selected-items'); // Sửa đoạn này
                    const selectedItemsIdInput = section.parentElement.querySelector('.selected-items-id'); // Sửa đoạn này
                    const selectedItemsIdItemKeys = section.parentElement.querySelectorAll('.selected-item-id-item-key'); // Sửa đoạn này

                    let selectedItems = [];
                    if(selectedItemsIdItemKeys.length > 0) {
                        selectedItems = Array.from(selectedItemsIdItemKeys).map(item => ({
                            id: item.querySelector('.selected-item-id-item-key-id').value,
                            name: item.querySelector('.selected-item-id-item-text').value
                        }));
                    }
                    console.log(selectedItems);

                    // Lọc danh sách khi tìm kiếm
                    searchBarMainInput.addEventListener('input', () => {
                        const searchValue = searchBarMainInput.value.toLowerCase();
                        searchBarMainItems.forEach(item => {
                            const text = item.querySelector('.search-bar--main-section-item-text')?.textContent || '';
                            item.style.display = text.toLowerCase().includes(searchValue) ? '' : 'none';
                        });
                    });
                    // Xử lý khi click vào remove item khi mới load
                    const removeBtns = selectedItemsDiv.querySelectorAll('.remove-item');
                    removeBtns.forEach(btn => {
                        btn.addEventListener('click', () => {
                            const itemId = btn.parentElement.querySelector('.selected-item-id').textContent.trim();
                            console.log('Item ID to remove:', itemId);

                            console.log('Before removal:', selectedItems);

                            const newSelectedItems = [];
                            for (let i = 0; i < selectedItems.length; i++) {
                                if (String(selectedItems[i].id) !== String(itemId)) {
                                    newSelectedItems.push(selectedItems[i]);
                                }
                            }
                            selectedItems = newSelectedItems;


                            console.log('After removal:', selectedItems);

                            selectedItemsDiv.removeChild(btn.parentElement);

                            updateHiddenInput();
                        });

                    });

                    // Xử lý khi click chọn mục
                    searchBarMainItems.forEach(item => {
                        item.addEventListener('click', () => {
                            const itemText = item.querySelector('.search-bar--main-section-item-text')?.textContent;
                            const itemId = item.querySelector('.search-bar--main-section-item-key')?.value;

                            if (!itemText || !itemId) {
                                console.error('Item text or ID not found:', { itemText, itemId });
                                return;
                            }

                            // Kiểm tra nếu item đã được chọn
                            if (!selectedItems.some(it => it.id === itemId)) {
                                // Thêm item vào danh sách đã chọn
                                selectedItems.push({ id: itemId, name: itemText });

                                // Tạo một thẻ div mới hiển thị item đã chọn
                                const itemDiv = document.createElement('div');
                                itemDiv.classList.add('selected-item');
                                itemDiv.textContent = itemText;

                                // Thêm nút xóa cho item
                                const removeBtn = document.createElement('span');
                                removeBtn.textContent = ' ✕';
                                removeBtn.classList.add('remove-item');
                                removeBtn.addEventListener('click', () => {
                                    // Xóa item khỏi danh sách đã chọn
                                    selectedItems = selectedItems.filter(it => it.id !== itemId);

                                    // Xóa div của item khỏi giao diện
                                    selectedItemsDiv.removeChild(itemDiv);

                                    // Cập nhật giá trị input hidden
                                    updateHiddenInput();
                                });

                                itemDiv.appendChild(removeBtn);
                                selectedItemsDiv.appendChild(itemDiv);

                                // Cập nhật giá trị input hidden
                                updateHiddenInput();
                            }
                        });
                    });

                    // Hàm cập nhật giá trị cho hidden input
                    function updateHiddenInput() {
                        const selectedIds = selectedItems.map(it => it.id);
                        selectedItemsIdInput.value = selectedIds.join(',');
                    }
                });



            </script>
        </div>

    </div>


</div>

</body>
</html>
