<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/admin/main.css">

    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.6.0-web/css/all.min.css">

    <title>Document</title>
</head>
<body>
<div class="app">
    <div class="left-bar active">
        <div class="left-bar-logo" style="background-image: url(/assets/img/jobseekerwhite.png);"></div>

        <ul class="left-bar-list">
            <li class="left-bar-item active">
                <a href="#" class="left-bar-item-link">
                    <i class="left-bar-item-link-icon fa-solid fa-house"></i>
                    <p class="left-bar-item-link-text">Dashboard</p>
                </a>
            </li>
            <li class="left-bar-item">
                <a href="#" class="left-bar-item-link">
                    <i class="left-bar-item-link-icon fa-solid fa-newspaper"></i>
                    <p class="left-bar-item-link-text">Jobs</p>
                </a>
            </li>
            <li class="left-bar-item">
                <a href="#" class="left-bar-item-link">
                    <i class="left-bar-item-link-icon fa-solid fa-user"></i>
                    <p class="left-bar-item-link-text">Users</p>
                </a>
            </li>
            <li class="left-bar-item">
                <a href="#" class="left-bar-item-link">
                    <i class="left-bar-item-link-icon fa-solid fa-building"></i>
                    <p class="left-bar-item-link-text">Companies</p>
                </a>
            </li>
            <li class="left-bar-item">
                <a href="#" class="left-bar-item-link">
                    <i class="left-bar-item-link-icon fa-solid fa-right-from-bracket"></i>
                    <p class="left-bar-item-link-text">Logout</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col l-8">
                <div class="main-content-header-with-search">
                    <i class="main-content-header-menu-open-icon fa-solid fa-bars"></i>
                    <input class="main-content-header-search-input" placeholder="Search here..." type="text">
                </div>
            </div>
            <div class="col l-4">
                <div class="main-content-header-nav">
                    <ul class="main-content-header-nav-list">
                        <li class="main-content-header-nav-item active">
                            <i class="main-content-header-nav-icon fa-regular fa-bell "></i>
                        </li>
                        <li class="main-content-header-nav-item">
                            <div class="main-content-header-user-avartar" style="background-image: url(/assets/img/user.jpg);"></div>
                            <i class="main-content-header-nav-icon fa-solid fa-chevron-down"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="add-new-record-button-wrapper col l-8">
                <div class="add-new-record-button">
                    <i class="add-new-record-button-icon fa-solid fa-plus"></i>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="main-content-table-wrapper col l-8">
                <table class="main-content-table">
                    <tr>
                        <th>Mã người dùng</th>
                        <th>Tên người dùng</th>
                        <th>Email</th>
                        <th>Thao tác</th>
                    </tr>
                    <tr>
                        <td>HAD123</td>
                        <td>Lưu Văn Thanh Huy</td>
                        <td>thanhhuyluu@gmail.com</td>
                        <td class="table-action-button-wrapper">
                            <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                            <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                            <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                        </td>
                    </tr>
                    <tr>
                        <td>HAD123</td>
                        <td>Lưu Văn Thanh Huy</td>
                        <td>thanhhuyluu@gmail.com</td>
                        <td class="table-action-button-wrapper">
                            <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                            <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                            <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                        </td>
                    </tr> <tr>
                    <td>HAD123</td>
                    <td>Lưu Văn Thanh Huy</td>
                    <td>thanhhuyluu@gmail.com</td>
                    <td class="table-action-button-wrapper">
                        <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                        <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                    </td>
                </tr> <tr>
                    <td>HAD123</td>
                    <td>Lưu Văn Thanh Huy</td>
                    <td>thanhhuyluu@gmail.com</td>
                    <td class="table-action-button-wrapper">
                        <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                        <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                    </td>
                </tr> <tr>
                    <td>HAD123</td>
                    <td>Lưu Văn Thanh Huy</td>
                    <td>thanhhuyluu@gmail.com</td>
                    <td class="table-action-button-wrapper">
                        <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                        <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                    </td>
                </tr> <tr>
                    <td>HAD123</td>
                    <td>Lưu Văn Thanh Huy</td>
                    <td>thanhhuyluu@gmail.com</td>
                    <td class="table-action-button-wrapper">
                        <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                        <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                    </td>
                </tr>
                    <tr>
                        <td>HAD123</td>
                        <td>Lưu Văn Thanh Huy</td>
                        <td>thanhhuyluu@gmail.com</td>
                        <td class="table-action-button-wrapper">
                            <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                            <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                            <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                        </td>
                    </tr>
                    <tr>
                        <td>HAD123</td>
                        <td>Lưu Văn Thanh Huy</td>
                        <td>thanhhuyluu@gmail.com</td>
                        <td class="table-action-button-wrapper">
                            <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                            <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                            <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                        </td>
                    </tr> <tr>
                    <td>HAD123</td>
                    <td>Lưu Văn Thanh Huy</td>
                    <td>thanhhuyluu@gmail.com</td>
                    <td class="table-action-button-wrapper">
                        <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                        <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                    </td>
                </tr> <tr>
                    <td>HAD123</td>
                    <td>Lưu Văn Thanh Huy</td>
                    <td>thanhhuyluu@gmail.com</td>
                    <td class="table-action-button-wrapper">
                        <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                        <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                    </td>
                </tr> <tr>
                    <td>HAD123</td>
                    <td>Lưu Văn Thanh Huy</td>
                    <td>thanhhuyluu@gmail.com</td>
                    <td class="table-action-button-wrapper">
                        <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                        <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                    </td>
                </tr>
                    <tr>
                        <td>HAD123</td>
                        <td>Lưu Văn Thanh Huy</td>
                        <td>thanhhuyluu@gmail.com</td>
                        <td class="table-action-button-wrapper">
                            <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                            <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                            <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                        </td>
                    </tr>

                    <tr>
                        <td>HAD123</td>
                        <td>Lưu Văn Thanh Huy</td>
                        <td>thanhhuyluu@gmail.com</td>
                        <td class="table-action-button-wrapper">
                            <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                            <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                            <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                        </td>
                    </tr>
                    <tr>
                        <td>HAD123</td>
                        <td>Lưu Văn Thanh Huy</td>
                        <td>thanhhuyluu@gmail.com</td>
                        <td class="table-action-button-wrapper">
                            <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                            <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                            <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                        </td>
                    </tr>



                </table>

            </div>

            <div class="col l-4">
                <form action="" class="main-form">


                </form>
            </div>



        </div>

        <div class="row">
            <div class="app-main-navigate">
                <ul class="app-main-navigate-list">
                    <li class="app-main-navigate-item">
                        <p>
                            <i class="fa-solid fa-chevron-left"></i>
                        </p>
                    </li>

                    <li class="app-main-navigate-item active"><p>1</p></li>
                    <li class="app-main-navigate-item"><p>2</p></li>
                    <li class="app-main-navigate-item"><p>3</p></li>
                    <li class="app-main-navigate-item"><p>4</p></li>

                    <li class="app-main-navigate-item">
                        <p>
                            <i class="fa-solid fa-chevron-right"></i>
                        </p>
                    </li>

                </ul>
            </div>
        </div>

    </div>




</div>


</body>
<script>
    const leftBarOpenButton = document.querySelector('.main-content-header-menu-open-icon');
    const leftBar = document.querySelector('.left-bar');
    leftBarOpenButton.addEventListener('click', ()=> {
        leftBar.classList.toggle('active')

    });
</script>
</html>