<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map}">
    <link rel="stylesheet" th:href="@{/css/web/base.css}">
    <link rel="stylesheet" th:href="@{/css/admin/main.css}">

    <link rel="stylesheet" th:href="@{/css/web/grid.css}">

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-free-6.6.0-web/css/all.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>

    <div layout:fragment="content" class="main-content">
        <div class="row">
            <div class="col l-8">
                <div class="main-content-header-with-search">
                    <i class="main-content-header-menu-open-icon fa-solid fa-bars"></i>
                    <input class="main-content-header-search-input" placeholder="Search here..." type="text">
                </div>
            </div>
            <div class="col l-4">
                <div class="main-content-header-nav">
                    <ul class="main-content-header-nav-list">
                        <li class="main-content-header-nav-item active">
                            <i class="main-content-header-nav-icon fa-regular fa-bell "></i>
                        </li>
                        <li class="main-content-header-nav-item">
                            <div class="main-content-header-user-avartar" style="background-image: url(/assets/img/user.jpg);"></div>
                            <i class="main-content-header-nav-icon fa-solid fa-chevron-down"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="app-content-loaded">
            <div class="row">
                <div class="add-new-record-button-wrapper col l-12">
                    <div class="add-new-record-button">
                        <i class="add-new-record-button-icon fa-solid fa-plus"></i>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="main-content-table-wrapper">
                    <table class="main-content-table">
                        <tr>
                            <th>Mã </th>
                            <th>Tên công việc</th>
                            <th>Công ty</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr th:each="job : ${jobs}" >
                            <td>
                                <p class="main-content-table-text" th:text="${job.jobId}"></p>
                            </td>
                            <td >
                                <p class="main-content-table-text" th:text="${job.jobTitle}"></p>
                            </td>
                            <td >
                                <p class="main-content-table-text" th:text="${job.company.companyName}"></p>
                            </td>
                            <td class="table-action-button-wrapper">
                                <div class="table-action-button table-action-button--show"><i class="fa-solid fa-circle-info"></i></div>
                                <div class="table-action-button table-action-button--change"><i class="fa-solid fa-pen"></i></div>
                                <div class="table-action-button table-action-button--delete"><i class="fa-solid fa-trash"></i></div>
                            </td>
                        </tr>




                    </table>
                    <div class="app-main-navigate" th:if="${jobs.size() > 0}">
                        <ul  class="app-main-navigate-list">
                            <li th:if="${currentPage > 1}" class="app-main-navigate-item">

                                <button  class="app-main-navigate-item-btn"
                                         th:value="@{'/admin/load-viec-lam?pageNo=' + ${currentPage -1}+'&industryId='+${industryId} +'&locationId='+${locationId}}">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>
                            </li>


                            <li th:classappend="${currentPage} == ${i} ? 'active' : ' '"
                                th:each="i : ${#numbers.sequence(1,pageNum)}" class="app-main-navigate-item">
                                <button class="app-main-navigate-item-btn"
                                        th:value="@{'/admin/load-viec-lam?pageNo=' + ${i}+'&industryId='+${industryId} +'&locationId='+${locationId}}"
                                >[[${i}]]</button>

                            </li>

                            <li th:if="${currentPage <  pageNum} " class="app-main-navigate-item">
                                <button class="app-main-navigate-item-btn"
                                        th:value="@{'/admin/load-viec-lam?pageNo=' + ${currentPage +1}+'&industryId='+${industryId} +'&locationId='+${locationId}}">


                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                            </li>


                        </ul>
                    </div>
                </div>

                <div class="col hide">
                    <form action="/admin/viec-lam/them" class="main-form">
                        <div class="form-group">
                            <label for="jobTitle">Tên công việc</label>
                            <input type="text" id="jobTitle" name="jobTitle" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="jobDescription">Mô tả</label>
                            <textarea id="jobDescription" name="jobDescription" class="form-control" placeholder="Hãy viết tiêu đề IN HOA"></textarea>
                        </div>


                        <label for="search-bar--main-section-category-trigger" class="search-bar--main-section">
                            <input hidden type="checkbox" id="search-bar--main-section-category-trigger" name="search-bar--main-section-category-trigger">
                            <i class="search-bar--main-section-icon fa-solid fa-briefcase"></i>
                            <div class="search-bar--main-section-text" th:text="|Company|">

                            </div>
                            <i class="search-bar--main-section-icon--down fa-solid fa-chevron-down"></i>
                            <i class="search-bar--main-section-icon--up fa-solid fa-chevron-up"></i>


                            <ul class="search-bar--main-section-list scrollable-element">
                                <li class="search-bar--main-section-item">
                                    <input type="text" class="search-bar--main-section-item-input" >
                                </li>
                                <li class="search-bar--main-section-item active" >
                                    <p class="search-bar--main-section-item-text" th:value="${companyName}">
                                        All categories
                                        <input class="search-bar--main-section-item-key" type="text" hidden th:value="-1">
                                    </p>
                                    <i class="search-bar--main-section-item-check fa-solid fa-check"></i>

                                </li>
                                <li th:each="company : ${companies}" class="search-bar--main-section-item" >
                                    <p th:text="${company.companyName}" class="search-bar--main-section-item-text">

                                    </p>
                                    <i class="search-bar--main-section-item-check fa-solid fa-check"></i>
                                    <input class="search-bar--main-section-item-key" type="text" hidden th:value="${company.companyId}">
                                </li>
                                <input name="companyId" hidden id="search-bar--main-section-item-input-sender--company" th:value="${companyId != null ? companyId : -1}" type="text" class="search-bar--main-section-item-input-sender">

                            </ul>

                        </label>

                        <div class="form-group">

                            <label for="jobType">Loại công việc</label>
                            <select id="jobType" name="jobType" class="form-control">
                                <option value="Toàn thời gian">Toàn thời gian</option>
                                <option value="Bán thời gian">Bán thời gian</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="experienceLevel">Năm kinh nghiệm</label>
                            <input type="number" id="experienceLevel" name="experienceLevel" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="careerLevel">Vị trí công việc</label>
                            <select id="careerLevel" name="careerLevel" class="form-control">
                                <option value="Nhân viên">Nhân viên</option>
                                <option value="Trưởng nhóm">Trưởng nhóm</option>
                                <option value="Trưởng/Phó phòng">Trưởng/Phó phòng</option>
                                <option value="Quản lý / Giám sát">Quản lý / Giám sát</option>
                                <option value="Trưởng chi nhánh">Trưởng chi nhánh</option>
                                <option value="Phó giám đốc">Phó giám đốc</option>
                                <option value="Giám đốc">Giám đốc</option>
                                <option value="Thực tập sinh">Thực tập sinh</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="postedDate">Ngày đăng</label>
                            <input type="date" id="postedDate" name="postedDate" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="expirationDate">Ngày hết hạn</label>
                            <input type="date" id="expirationDate" name="expirationDate" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="jobUrl">Nguồn</label>
                            <input type="url" id="jobUrl" name="jobUrl" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="salary">Mức Lương</label>
                            <input type="number" id="salary" name="salary" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="salaryCurrency">Đơn vị tiền tệ</label>
                            <input type="text" id="salaryCurrency" name="salaryCurrency" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </form>
                </div>



            </div>


        </div>

    </div>



</body>
</html>
<script th:src="@{/js/admin/home.js}"></script>


<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/ajax/admin/home_page_ajax.js}"></script>