<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.ico}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/home_page.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-free-6.6.0-web/css/all.min.css}">
</head>
<body>
    <div class="app">
        <header class="header">
                <div class="header-navbar-container">
                    <div class="grid wide">
                        <nav class="header__navbar">
                        
                            <ul class="header__navbar-list">
                                <li class="header__navbar-item">
                                    
                                    <p class="header__navbar-item-text">
                                        <i class="header__navbar-item-icon fa-solid fa-circle-info"></i>
                                        Become researchable by top companies in your domain
                                    </p>
                                    <a href="#" class="header__navbar-item-link">Learn more</a>
                                </li>
                            </ul>
        
                            <ul class="header__navbar-list">
                                <li class="header__navbar-item">
                                    <p class="header__navbar-item-text separator">
                                        <i class="header__navbar-item-icon fa-solid fa-phone"></i>
                                        84.388074177
                                    </p>
                                    
                                </li>
                                <li class="header__navbar-item">
                                    <p class="header__navbar-item-text">
                                        <i class="header__navbar-item-icon fa-solid fa-envelope"></i>
                                        jobsearch@gmail.com
                                    </p>
                                </li>
                            </ul>
                        </nav>
    
                        
                    </div>
                </div>
                <div class="header__navbar--main-container">
                    <div class="grid wide">
                        <nav class="header__navbar--main">
                            <div class="header__navbar--main-with-logo">
                                <div class="header__navbar--main-logo" th:style="'background-image: url(' + @{/img/logo.jpg} + ');'"></div>
    
                                <ul class="header__navbar--main-list">
                                    <li class="header__navbar--main-item">
                                        <a href="#" class="header__navbar--main-item-link">Home</a>
                                        <ul class="header__navbar--main-item-list">
                                            <li class="header__navbar--main-item-item">
                                                <a href="#" class="header__navbar--main-item-item-link">
                                                    <i class="header__navbar--main-item-item-icon fa-solid fa-magnifying-glass"></i>
                                                    Tìm việc làm
                                                </a>
                                            </li>
                                            <li class="header__navbar--main-item-item">
                                                <a href="#" class="header__navbar--main-item-item-link">
                                                    <i class="header__navbar--main-item-item-icon fa-regular fa-heart"></i>
                                                    Việc làm đã lưu
                                                </a>
                                            </li>
                                        </ul>


                                    </li>
                                    <li class="header__navbar--main-item">
                                        <a href="#" class="header__navbar--main-item-link">Jobs</a>
                                        <ul class="header__navbar--main-item-list">
                                            <li class="header__navbar--main-item-item">
                                                <a href="#" class="header__navbar--main-item-item-link">
                                                    <i class="header__navbar--main-item-item-icon fa-solid fa-magnifying-glass"></i>
                                                    Tìm việc làm
                                                </a>
                                            </li>
                                            <li class="header__navbar--main-item-item">
                                                <a href="#" class="header__navbar--main-item-item-link">
                                                    <i class="header__navbar--main-item-item-icon fa-regular fa-heart"></i>
                                                    Việc làm đã lưu
                                                </a>
                                            </li>
                                        </ul>


                                    </li>
                                    <li class="header__navbar--main-item">
                                        <a href="#" class="header__navbar--main-item-link">Companies</a>
                                        <ul class="header__navbar--main-item-list">
                                            <li class="header__navbar--main-item-item">
                                                <a href="#" class="header__navbar--main-item-item-link">
                                                    <i class="header__navbar--main-item-item-icon fa-solid fa-magnifying-glass"></i>
                                                    Tìm việc làm
                                                </a>
                                            </li>
                                            <li class="header__navbar--main-item-item">
                                                <a href="#" class="header__navbar--main-item-item-link">
                                                    <i class="header__navbar--main-item-item-icon fa-regular fa-heart"></i>
                                                    Việc làm đã lưu
                                                </a>
                                            </li>
                                        </ul>


                                    </li>
                                </ul>
                            </div>
    
                            <ul class="header__navbar--main-list">
                                <li class="header__navbar--main-item">
                                    <div class="header__navbar--main-user-img" style="background-image: url(../../static/img/user.jpg);"></div>
                                    <p class="header__navbar--main-user-name">Thanh Huy</p>
                                    <ul class="header__navbar--main-item-list">
                                        <li class="header__navbar--main-item-item">
                                            <a href="#" class="header__navbar--main-item-item-link">
                                                <i class="header__navbar--main-item-item-icon fa-solid fa-magnifying-glass"></i>
                                                Tìm việc làm
                                            </a>
                                        </li>
                                        <li class="header__navbar--main-item-item">
                                            <a href="#" class="header__navbar--main-item-item-link">
                                                <i class="header__navbar--main-item-item-icon fa-regular fa-heart"></i>
                                                Việc làm đã lưu
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                    </nav>
                    </div>
                </div>
                
        </header>
        <div class="container">

            <div class="grid wide">

                <div class="row">
                    <div class="col l-4 l-o-4">
                        <h1 class="heading--main">Find Your Dream Jobs</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col l-12">
                        <form th:action="@{/viec-lam/search/page=1}" class="search-bar--main">
                            <div class="search-bar--main-section">
                                <i class="search-bar--main-section-icon fa-solid fa-magnifying-glass"></i>
                                <input id="search-bar--main-section-input" name="searchKey" class="search-bar--main-section-input" placeholder="Jobs title or keywords" th:value="${searchKey}">
                            </div>
                            <label for="search-bar--main-section-location-trigger" class="search-bar--main-section">
                                <input hidden type="checkbox" id="search-bar--main-section-location-trigger" name="search-bar--main-section-location-trigger">   
                                <i class="search-bar--main-section-icon fa-solid fa-location-dot"></i>
                                <div class="search-bar--main-section-text" th:text="${locationName == '' ? 'All locations' : locationName }">

                                </div>
                                <i class="search-bar--main-section-icon--down fa-solid fa-chevron-down"></i>
                                <i class="search-bar--main-section-icon--up fa-solid fa-chevron-up"></i>
                                 
                                
                                <ul class="search-bar--main-section-list scrollable-element">
                                    <li class="search-bar--main-section-item">
                                        <input type="text" class="search-bar--main-section-item-input" >
                                    </li>
                                    <li class="search-bar--main-section-item active" >
                                        <p class="search-bar--main-section-item-text">
                                            All locations
                                            <input class="search-bar--main-section-item-key" type="text" hidden th:value="-1">
                                        </p>
                                        <i class="search-bar--main-section-item-check fa-solid fa-check"></i>

                                    </li>
                                    <li th:each="location : ${locations}" class="search-bar--main-section-item" >
                                        <p class="search-bar--main-section-item-text" th:text="${location}">

                                        </p>
                                        <i class="search-bar--main-section-item-check fa-solid fa-check"></i>
                                        <input class="search-bar--main-section-item-key" type="text" hidden th:value="${location.locationId}">
                                    </li>
                                    <input name="locationId" hidden id="search-bar--main-section-item-input-sender--location" th:value="${locationId != null ? locationId : -1}" type="text" class="search-bar--main-section-item-input-sender">
                                </ul>

                            </label>                            
                            <label for="search-bar--main-section-category-trigger" class="search-bar--main-section">
                                <input hidden type="checkbox" id="search-bar--main-section-category-trigger" name="search-bar--main-section-category-trigger">   
                                <i class="search-bar--main-section-icon fa-solid fa-briefcase"></i>
                                <div class="search-bar--main-section-text" th:text="${industryName == '' ? 'All categories' : industryName}">

                                </div>
                                <i class="search-bar--main-section-icon--down fa-solid fa-chevron-down"></i>
                                <i class="search-bar--main-section-icon--up fa-solid fa-chevron-up"></i>
                                 
                                
                                <ul class="search-bar--main-section-list scrollable-element">
                                    <li class="search-bar--main-section-item">
                                        <input type="text" class="search-bar--main-section-item-input" >
                                    </li>
                                    <li class="search-bar--main-section-item active" >
                                        <p class="search-bar--main-section-item-text" th:value="${industryName}">
                                            All categories
                                            <input class="search-bar--main-section-item-key" type="text" hidden th:value="-1">
                                        </p>
                                        <i class="search-bar--main-section-item-check fa-solid fa-check"></i>

                                    </li>
                                    <li th:each="industry : ${industries}" class="search-bar--main-section-item" >
                                        <p th:text="${industry}" class="search-bar--main-section-item-text">

                                        </p>
                                        <i class="search-bar--main-section-item-check fa-solid fa-check"></i>
                                        <input class="search-bar--main-section-item-key" type="text" hidden th:value="${industry.industryId}">
                                    </li>
                                    <input name="industryId" id="search-bar--main-section-item-input-sender--industry" th:value="${industryId != null ? industryId : -1}" type="text" class="search-bar--main-section-item-input-sender">

                                </ul>

                            </label> 
                            <div class="search-bar--main-section-action">
                                <p class="search-bar--main-section-action-clear"></p>
                                <button type="submit" class="app-button">Search</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col l-4">




                    </div>
                    <div class="col l-8">

                    </div>
                </div>
                <div class="row">
                    <div class="col l-4">
                        <h1 id="filter-heading" class="filter-heading">
                            <p class="filter-heading-text">Filter</p>
                            <div class="filter-icon-wrapper">
                                <i class="filter-icon fa-solid fa-filter"></i>
                            </div>
                        </h1>
                        <form th:action="@{/viec-lam/search/page=1}" class="app-main-filter" id="app-main-filter">
                            <div class="app-main-filter-section">
                                <h3 class="app-main-filter-section__heading">JOB TYPE</h3>
                                <ul class="app-main-filter-section-list">
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="checkbox" id="app-main-filter-section-item-full-time" th:name="jobTypes" th:value="fulltime">
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-full-time">Full time</label>
                                    </li>
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="checkbox" id="app-main-filter-section-item-part-time" th:name="jobTypes" th:value="parttime">
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-part-time">Part time</label>
                                    </li>
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="checkbox" id="app-main-filter-section-item-intern" th:name="jobTypes" th:value="intern">
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-intern">Intern</label>
                                    </li>
                                
                                   
                                </ul>
                            </div>


                            <div class="app-main-filter-section">
                                <h3 class="app-main-filter-section__heading">salary</h3>
                                    <div class="app-main-filter-section-custom-select">
                                        <div class="app-main-filter-section-select">
                                            <p>Salary Range</p>
                                            <i class="app-main-filter-section-select-icon--down fa-solid fa-chevron-down"></i>
                                            <i class="app-main-filter-section-select-icon--up hide fa-solid fa-chevron-up"></i>
                                        </div>
                                        <ul class="app-main-filter-section-options-container hide">
                                            <li class="app-main-filter-section-option" data-value="-1">Salary</li>
                                            <li class="app-main-filter-section-option" data-value="3">From 3.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="5">From 5.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="7">From 7.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="10">From 10.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="15">From 15.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="20">From 20.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="30">From 30.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="40">From 40.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="50">From 50.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="60">From 60.000.000 đ</li>
                                            <li class="app-main-filter-section-option" data-value="70">From 70.000.000 đ</li>
                                        </ul>
                                        <input hidden type="text" id="app-main-filter-section-salary-input" name="salary">
                                    </div>
                            </div>
                            <div class="app-main-filter-section">
                                <h3 class="app-main-filter-section__heading">Experimence level</h3>
                                <ul id="app-main-filter-section-list" class="app-main-filter-section-list">
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="radio" id="app-main-filter-section-item-fresh" th:name="experienceLevels" th:value="fresh">
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-fresh">Fresh</label>
                                    </li>
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="radio" id="app-main-filter-section-item-1" th:name="experienceLevels" th:value="1">
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-1">1 Years</label>
                                    </li>
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="radio" id="app-main-filter-section-item-2" th:name="experienceLevels" th:value="2">
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-2">2 Years</label>
                                    </li>
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="radio" id="app-main-filter-section-item-3" th:name="experienceLevels" th:value="3">
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-3">3 Years</label>
                                    </li>
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="radio" id="app-main-filter-section-item-4plus" th:name="experienceLevels" th:value="4_plus">
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-4plus">4+ Years</label>
                                    </li>
                                
                                   
                                </ul>
                            </div>
                            <div class="app-main-filter-section">
                                <h3 class="app-main-filter-section__heading">Career level</h3>
                                <ul class="app-main-filter-section-list">
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="checkbox" id="app-main-filter-section-item-staff" >
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-staff">Staff</label>
                                    </li>
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="checkbox" id="app-main-filter-section-item-manager">
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-manager">Manager</label>
                                    </li>
                                    <li class="app-main-filter-section-item">
                                        <input class="app-main-filter-section-checkbox" type="checkbox" id="app-main-filter-section-item-senior" >
                                        <label class="app-main-filter-section-item-text" for="app-main-filter-section-item-senior">Senier</label>
                                    </li>
                                   
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="col l-8">
                        <div class="app-content-loaded">
                            <div class="result-overview">
                                <h1 class="result-overview-records-count" th:text="|${totalItems} Jobs|"></h1>
                                <input hidden type="checkbox" class="result-overview-sort-input" id="result-overview-sort-input">
                                <div class="result-overview-sort">

                                    <p class="result-overview-sort-text">Sort by:</p>
                                    <div class="result-overview-sort-principle">

                                        <label for="result-overview-sort-input" class="result-overview-sort-current-principle">Newest</label>
                                        <ul class="result-overview-sort-principle-list">
                                            <li class="result-overview-sort-principle-item active">
                                                Newest
                                            </li>
                                            <li class="result-overview-sort-principle-item">
                                                Oldest
                                            </li>
                                            <li class="result-overview-sort-principle-item">
                                                Lương từ thấp đến cao
                                            </li>
                                            <li class="result-overview-sort-principle-item">
                                                Lương từ cao đến thấp
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="app-main-job-list-container">
                                <ul id="app-main-job-list" class="app-main-job-list">
                                    <li th:each="job : ${jobs}" class="app-main-job-item">
                                        <a href="#" th:title="${job.jobTitle}" class="app-main-job-item-link">
                                            <div class="app-main-job-item-description">
                                                <div class="app-main-job-item-infor">
                                                    <div class="app-main-job-item-company-img" th:style="|background-image: url(/img${job.company.companyLogo})|"></div>
                                                    <div class="app-main-job-item-overview-infor">
                                                        <div class="app-main-job-item-job-title-wrapper">
                                                            <h1 class="app-main-job-item-job-title" th:text="${job.jobTitle}"></h1>
                                                        </div>

                                                        <p class="app-main-job-item-company-name-wrapper">
                                                            by
                                                        <h4 class="app-main-job-item-company-name" th:text="${job.company.companyName}"></h4>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="app-main-job-item-main-infor">
                                                    <div class="app-main-job-item-main-infor-tag hightlight">
                                                        <p class="app-main-job-item-main-infor-tag-text" th:text="${job.jobType}"></p>
                                                    </div>

                                                    <div th:if="${job.locations.size() > 0}" class="app-main-job-item-main-infor-tag app-main-job-item-main-infor-tag-limit">
                                                        <i class="app-main-job-item-main-infor-tag-icon fa-solid fa-location-dot"></i>
                                                        <span class="app-main-job-item-main-infor-tag-text" th:text="${#strings.listJoin(job.locations, ', ')}"></span>
                                                    </div>
                                                    <div class="app-main-job-item-main-infor-tag">
                                                        <span class="app-main-job-item-main-infor-tag-text" th:text="${job.salaryRange}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="app-main-job-item-action-and-date-left">
                                                <div class="app-main-job-item-action liked">
                                                    <i class="app-main-job-item-action-icon app-main-job-item-action-icon--empty fa-regular fa-heart"></i>
                                                    <i class="app-main-job-item-action-icon app-main-job-item-action-icon--filled fa-solid fa-heart"></i>
                                                </div>
                                                <div class="app-main-job-item-day-left">
                                                    <p class="app-main-job-item-day-left-text"
                                                       th:text="|Đến ngày ${job.expirationDate}|">
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="app-main-navigate">
                                <ul  class="app-main-navigate-list">
                                    <li th:if="${currentPage > 1}" class="app-main-navigate-item">

                                        <button  class="app-main-navigate-item-btn" th:value="@{'/viec-lam/page=' + ${currentPage -1}+'?industryId='+${industryId} +'&locationId='+${locationId}}">
                                            <i class="fa-solid fa-chevron-left"></i>
                                        </button>
                                    </li>


                                    <li th:classappend="${currentPage} == ${i} ? 'active' : ' '"
                                        th:each="i : ${#numbers.sequence(1,pageNum)}" class="app-main-navigate-item">
                                        <button class="app-main-navigate-item-btn" th:value="@{'/viec-lam/page=' + ${i}+'?industryId='+${industryId} +'&locationId='+${locationId}}">[[${i}]]</button>
                                    </li>

                                    <li th:if="${currentPage <  pageNum} " class="app-main-navigate-item">
                                        <button class="app-main-navigate-item-btn" th:value="@{'/viec-lam/page=' + ${currentPage +1}+'?industryId='+${industryId} +'&locationId='+${locationId}}">
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </button>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <footer class="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-3">
                        <div class="footer-section">
                            <h2 class="footer-section__heading">Company</h2>
                            <ul class="footer-section__list">
                                <li class="footer-section__item">
                                    <a href="#" class="footer-section__item-link">About us</a>
                                </li>
                                <li class="footer-section__item">
                                    <a href="#" class="footer-section__item-link">Blogs</a>
                                </li>
                                <li class="footer-section__item">
                                    <a href="#" class="footer-section__item-link">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-3">
                        <div class="footer-section">
                            <h2 class="footer-section__heading">Services</h2>
                            <ul class="footer-section__list">
                                <li class="footer-section__item">
                                    <a href="#" class="footer-section__item-link">Home</a>
                                </li>
                                <li class="footer-section__item">
                                    <a href="#" class="footer-section__item-link">Jobs</a>
                                </li>
                                <li class="footer-section__item">
                                    <a href="#" class="footer-section__item-link">Companies</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col l-3"></div>
                    <div class="col l-3">
                        <div class="footer-section">
                            <h2 class="footer-section__heading">Connect</h2>
                            <ul class="footer-section__list">
                                <li class="footer-section__item">
                                    <a href="#" class="footer-section__item-link">
                                        <i class="footer-section__item-icon fa-brands fa-linkedin"></i>
                                        Linkded In
                                    </a>
                                </li>
                                <li class="footer-section__item">
                                    <a href="#" class="footer-section__item-link">
                                        <i class="footer-section__item-icon fa-brands fa-square-facebook"></i>
                                        Facebook
                                    </a>
                                </li>
                                <li class="footer-section__item">
                                    <a href="#" class="footer-section__item-link">
                                        <i class="footer-section__item-icon fa-brands fa-square-instagram"></i>
                                        Instagram
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script th:src="@{/js/home_page.js}"></script>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/ajax/home_page_ajax.js}"></script>

</html>